---
import Layout from '@/layouts/Layout.astro'
import { soilsurvey } from '../data/soilsurvey'
import SoilTimeline from '@/components/ui/SoilTimeline.astro'

import type { Soilsurvey } from '../types/soilsurvey'

let orderedSoilsurvey: Soilsurvey[] = []

const orderElement = <T extends { time: string }>(a: T, b: T) => {
  const presentValues = ['present', 'now', 'current', 'today']
  if (
			presentValues.includes(
				(a['time'] as string)?.split(' - ')[1]?.toLowerCase()
			)
		) {
			// If the date is 'present', it should be the first element
			return -1
		}
		const dateA = new Date((a['time'] as string)?.split(' - ')[1])
		const dateB = new Date((b['time'] as string)?.split(' - ')[1])
		return dateB.getTime() - dateA.getTime()
}

if (soilsurvey.length > 0) {
	orderedSoilsurvey = soilsurvey.sort((a, b) => {
		return orderElement(a, b)
	})
}
---

<Layout>
	{
		orderedSoilsurvey.length > 0 && (
			<section class='mb-12'>
				<h2 class='text-2xl font-bold mb-6 border-b pb-2'>
					Soil Collection
				</h2>
				<SoilTimeline elements={orderedSoilsurvey} colored={true} />
			</section>
		)
	}
</Layout>
